@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.col-end-last {
		grid-column-end: -1;
	}
	.row-end-last {
		grid-row-end: -1;
	}
	.scroll-custom {
		overflow: auto;
		overflow: overlay;
		padding-right: 16px;

		scrollbar-color: var(--clr-secondary-0);

		&::-webkit-scrollbar {
			width: 1rem;
			background-color: transparent;

			border-left: var(--border-base);
			background-clip: padding-box;
			background-color: var(--clr-primary-1);

			&-thumb {
				$border-width: 4px;
				background-color: var(--clr-secondary-0);
				border-color: transparent;
				border-style: solid;
				border-width: $border-width;
				border-right-width: $border-width - 1;
				background-clip: padding-box;
			}
		}
	}
}
