.main--about-me {
	--tabs-height: 2.5rem;

	display: grid;
	grid-template-columns: var(--header-username, 19.0625rem) 1fr 1fr;
}

.main--about-me .sidebar {
	display: grid;
	grid-template-columns: auto 1fr;
	border-right: var(--border-base);

	&__buttons {
		display: grid;
		grid-template-rows: repeat(3, auto) 1fr;
		border-right: inherit;
	}

	&__explorer {
		$line-gap: 0.75rem;

		.header {
			display: grid;
			border-bottom: var(--border-base);

			height: var(--tabs-height);

			&__button {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding-inline: 1rem;

				&:not(&--active) {
					path {
						fill: var(--clr-secondary-3);
					}
				}

				&--active {
					color: var(--clr-secondary-0);
					svg {
						transform: rotate(270deg);
					}
				}
			}
		}

		.explorer {
			display: grid;
			gap: $line-gap;
			padding: 1.5rem 1.25rem;
			color: var(--clr-secondary-0);
			user-select: none;

			&__directory {
				display: grid;
				gap: $line-gap * 0.5 0;

				grid-template-columns: $line-gap * 2 1fr;

				&:nth-child(1) {
					.svg-directory {
						fill: var(--clr-accent-2);
					}
				}
				&:nth-child(2) {
					.svg-directory {
						fill: var(--clr-accent-1);
					}
				}
				&:nth-child(3) {
					.svg-directory {
						fill: var(--clr-secondary-2);
					}
				}
			}

			&__folders {
				display: grid;
				align-items: center;
				grid-template-columns: min-content auto 1fr;
				gap: $line-gap * 0.25 $line-gap;
				grid-column: 1 / -1;
				justify-content: flex-start;
				padding: 0;

				&--active {
					color: var(--clr-secondary-0);
					.line-arrow-svg {
						transform: rotate(270deg);
					}
				}
			}

			&__nested {
				display: grid;
				gap: $line-gap * 0.5;
				grid-column-start: 2;
				grid-column-end: -1;

				.file__link {
					gap: $line-gap;
				}
			}
		}

		.file {
			&__link {
				display: flex;
				align-items: center;
				gap: $line-gap * 0.5;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-decoration: none;
				user-select: none;

				&--active {
					color: var(--clr-secondary-3);

					svg {
						opacity: 1;
					}
				}
			}
		}
	}
}
