@use "../abstracts/" as *;
@use "sass:string";

//? Prevent Hsl to transform in Hex.
@function hsl($h, $s, $l) {
	@return unquote("hsl(#{$h}, #{$s}, #{$l})");
}

$colors: (
	primary: (
		0: hsl(208, 87%, 3%),
		1: hsl(207, 95%, 8%),
		2: hsl(208, 94%, 7%),
	),
	secondary: (
		0: hsl(210, 22%, 48%),
		1: hsl(174, 45%, 43%),
		2: hsl(233, 57%, 55%),
		3: hsl(0, 0%, 100%),
	),
	accent: (
		0: hsl(26, 99%, 68%),
		1: hsl(162, 66%, 56%),
		2: hsl(7, 69%, 72%),
		3: hsl(284, 57%, 71%),
	),
	lines: (
		0: hsl(211, 34%, 18%),
	),
);

:root {
	@each $color, $shades in $colors {
		@each $shade, $clr in $shades {
			$break-hsl: string.slice(
				$string: $clr,
				$start-at: 5,
				$end-at: -2,
			);

			// @debug $clr, $break-hsl;
			--clr-#{$color}-#{$shade}: #{$clr};
			--clr-#{$color}-#{$shade}-alpha: #{$break-hsl};
		}
	}
}
