//? Here is I use to make the base elements of the page;

@use "../abstracts/" as *;

body {
	color: var(--clr-text-0);
	background-color: var(--clr-surface-0);
	font-family: "Fira Code", monospace;
}

//! Main div with all the things
#root {
	display: block;
	
	color: inherit;
	background-color: inherit;
	font-family: inherit;
}
