.root__header {
	$border: 1px solid var(--clr-lines-0);

	display: grid;
	grid-template-columns: 20rem auto;

	border-bottom: $border;

	&__list {
		display: grid;
		grid-template-columns: repeat(3, auto) 1fr auto;

		.item {
			border-left: $border;

			&:nth-child(3) {
				border-right: $border;
			}
			&:last-child {
				grid-column-start: -1;
			}
		}
	}

	&__links {
		display: block;
		padding: 1rem;
		padding-right: calc(1rem + 1ch);

		text-decoration: none;

		background-image: linear-gradient(var(--clr-accent-0), var(--clr-accent-0));
		background-repeat: no-repeat;
		background-size: 100%;
		background-position-y: 4rem;

		transition: background-position-y 200ms ease-in-out;

		&:hover {
			background-position-y: 3.125rem;
		}

		&--current-page {
			animation: bg-slide-in 1000ms ease forwards;
		}

		@keyframes bg-slide-in {
			$invert: 80%;
			0%,
			100% {
				background-position-y: 3.125rem;
			}

			20% {
				background-position-y: 3rem;
			}

			#{$invert} {
				background-position-y: 4rem;
			}
			#{$invert + 1} {
				background-position-y: -4rem;
			}
		}
	}
}
