$border: 1px solid var(--clr-lines-0);

.root__header {
	display: grid;
	grid-template-columns: 20rem auto;

	border-bottom: $border;

	.list {
		display: grid;
		grid-template-columns: repeat(3, auto) 1fr auto;

		&__item {
			border-left: $border;

			&:nth-child(3) {
				border-right: $border;
			}
			&:last-child {
				grid-column-start: -1;
			}
		}

		&__links {
			display: block;
			padding: 1rem;
			padding-right: calc(1rem + 1ch);

			color: var(--clr-secondary-0);

			text-decoration: none;

			background-image: linear-gradient(var(--clr-accent-0), var(--clr-accent-0));
			background-repeat: no-repeat;
			background-size: 100%;
			background-position-y: 4rem;

			transition-duration: 300ms;
			transition-timing-function: var(--ease-squish-1);
			transition-property: background-position-y, color;

			&:hover {
				background-position-y: 3.25rem;
				color: var(--clr-secondary-3);
			}

			&--current-page {
				animation: bg-slide-in 1000ms ease forwards;
				color: var(--clr-secondary-3);
			}

			@keyframes bg-slide-in {
				$invert: 80%;
				0%,
				100% {
					background-position-y: 3.125rem;
				}

				20% {
					background-position-y: 3rem;
				}

				#{$invert} {
					background-position-y: 4rem;
				}
				#{$invert + 1} {
					background-position-y: -4rem;
				}
			}
		}
	}
}

.root__footer {
	display: grid;
	grid-template-columns: auto 1fr;

	border-top: $border;

	small {
		// border-right: $border;
	}

	.nav {
		display: grid;
		grid-template-columns: repeat(2, auto) 1fr auto;

		&__link {
			display: flex;
			align-items: center;
			border-left: $border;
			color: var(--clr-secondary-0);
			text-decoration: none;

			svg {
				$s: 1.5rem;
				width: $s;
				height: $s;
			}

			&:nth-child(2) {
				border-right: $border;
			}

			&:last-child {
				grid-column-start: -1;
			}
		}
	}
}
