//? Here is I use to make the base elements of the page;

@use "../abstracts/" as *;

body {
	color: var(--clr-secondary-3);
	background-color: var(--clr-primary-1);
	font-family: "Fira Code", monospace;
}

//! Main div with all the things
.root {
	display: grid;
	grid-template-rows: auto 1fr auto;

	width: 100%;
	height: 100%;

	color: inherit;
	background-color: inherit;
	font-family: inherit;
}
