@use "../abstracts" as *;

//& Body

body {
	display: grid;
	place-content: center;

	overflow: hidden;

	color: var(--clr-secondary-3);
	background-color: var(--clr-primary-0);

	font-family: "Fira Code", monospace;
	font-variant-ligatures: contextual;
}

//& ROOT

.root {
	position: relative;

	display: grid;
	grid-template-rows: auto 1fr auto;

	width: Max(100vw - 1rem, 100vw - 2vw);
	height: Max(100vh - 1rem, 100vh - 2vh);
	overflow: hidden;

	border-radius: var(--radius-local-4);
	border: var(--border-base);

	color: inherit;
	font-family: inherit;

	background-color: var(--clr-primary-1);

	font-size: 0.75rem;

	@include media(md) {
		font-size: 0.875rem;
	}

	@include media(lg) {
		font-size: 1rem;
	}
}
