//? Here is I use to make the base elements of the page;

@use "../abstracts" as *;

body {
	display: grid;
	place-content: center;

	color: var(--clr-secondary-3);
	font-family: "Fira Code", monospace;

	background-color: var(--clr-primary-0);
}

//! Main div with all the things
.root {
	position: relative;

	display: grid;
	grid-template-rows: auto 1fr auto;

	width: calc(100vw - Max(0.5rem, 1vw));
	height: calc(100vh - Max(0.75rem, 1vh));

	border-radius: 0.5rem;
	border: 1px solid var(--clr-lines-0);

	color: inherit;
	font-family: inherit;

	background-color: var(--clr-primary-1);

	font-size: 0.75rem;

	@include media(md) {
		font-size: 0.875rem;
	}

	@include media(lg) {
		font-size: 1rem;
	}
}
